In [29]:
from polygon import RESTClient
import datetime
import pandas as pd

In [30]:
client = RESTClient(api_key="")

In [31]:
ticker = 'AAPL'
multiplier = 1
timespan = 'day'
start = '2023-01-01'
end = '2024-01-01'
limit = 50000

In [32]:
aggs = []
for a in client.list_aggs(ticker=ticker, multiplier=multiplier, timespan=timespan, from_=start, to=end, limit=limit):
    aggs.append(a)

In [33]:
def convert_date(mili):
    s = mili / 1000.0
    return datetime.datetime.fromtimestamp(s).strftime('%Y-%m-%d')

In [42]:
df = pd.DataFrame(aggs)
df

,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,130.280,130.9000,124.170,125.07,112117471.0,125.7250,1672722000000,1021065,None
1,126.890,128.6557,125.080,126.36,89100633.0,126.6464,1672808400000,770042,None
2,127.130,127.7700,124.760,125.02,80716808.0,126.0883,1672894800000,665458,None
3,126.010,130.2900,124.890,129.62,87754715.0,128.1982,1672981200000,711520,None
4,130.465,133.4100,129.890,130.15,70790813.0,131.6292,1673240400000,645365,None
...,...,...,...,...,...,...,...,...,...
245,195.180,195.4100,192.970,193.60,37149570.0,194.1013,1703221200000,500544,None
246,193.610,193.8900,192.830,193.05,28919310.0,193.1713,1703566800000,488257,None
247,192.490,193.5000,191.090,193.15,48087681.0,192.5679,1703653200000,548076,None
248,194.140,194.6600,193.170,193.58,34049898.0,193.9222,1703739600000,472404,None
249,193.900,194.4000,191.725,192.53,42672148.0,192.5761,1703826000000,509123,None

In [43]:
df.to_csv('aapl_data_raw.csv')